<% if flash[:notice] %>
   <%= raw( flash[:notice] ) %>
<% end %>

<script>
  // initializers to use later on
  var options = [];
  <% @options.each do |option| %>
    options["<%= raw option["department"] %>"] = <%= raw option["degrees"].map{ |d| "#{d}" } %>;
  <% end %>
</script>

<%= form_tag("/registrations", method: "post") do %>
<div id="registerForm" class="form-horizontal">

  <% if @instructions %>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%= @instructions %></label>
  </div>
  <% end %>

	<div class="form-group">
		<label for="department" class="col-sm-2 control-label">Department</label>
		<div class="col-sm-10">
			<select class="form-control" id="department" name="registration[department]">
				<option></option>
				<% @options.each do |option| %>
          <% department = option["department"] %>
					<option <%= "selected" if flash[:department] == department %>><%= department %></option>
				<% end %>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="degree" class="col-sm-2 control-label">Degree</label>
		<div class="col-sm-10">
			<select class="form-control" id="degree" name="registration[degree]">
				<option></option>
        <% if flash[:department] && flash[:degree] %>
            <% @options.each do |option| %>
                <% if option["department"] == flash[:department] %>
                    <% option["degrees"].each do |degree| %>
                        <option <%= "selected" if flash[:degree] == degree %>><%= degree %></option>
                    <% end %>
                    <% break %>
                <% end %>
            <% end %>
        <% end %>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="user_list" class="col-sm-2 control-label">User List</label>
		<div class="col-sm-10">
			<textarea class="form-control" id="user_list" rows="5" name="registration[user_list]"><%= flash[:user_list] %></textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="submit" class="btn btn-success">Submit</button>
		</div>
	</div>

</div>
<% end %>

<script>
  // when the department changes, update the degree list
  $( "#department" ).change(function() {
      var department = $( "#department" ).val( );
      $('#degree').empty();

      // if they actually selected a department
      if( department.length > 0 ) {
          var degrees = options[department];
          if( degrees.length > 1 ) {
              $('#degree').append(new Option());
          }
          $.each( degrees, function( val, text ) {
              $('#degree').append( new Option( text ) );
          });
      }
  });
</script>
